<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="LoginController">
<head>
	<title>Empresas</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="styles/css/style.css">
	<link rel="stylesheet" type="text/css" href="styles/css/tablet.css">
	<link rel="stylesheet" type="text/css" href="styles/css/mobile.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body ui-view ng-cloak>
	<div id="login" class="login-content">
		<header class="header">
			<img src="img/logo-home.png" srcset="img/logo-home@2x.png 2x, img/logo-home@3x.png 3x" class="logo-home">
		</header>
		<main class="main">
			<section>
				<h2>Bem-vindo ao<br>empresas</h2>
				<p>Lorem ipsum dolor sit amet, contetur adipiscing elit. Nunc accumsan.</p>

			    <form name="loginForm" novalidate ng-submit="getToken(loginForm.$valid)">
			        <div class="input-field">
			          <input id="email" type="email" name="email" class="validate" ng-model="user.email" required>
			          <img src="icons/ic-email.svg" class="ic_email prefix">
			          <label for="email">E-mail</label>

			          <div id="error" ng-messages="loginForm.email.$error" ng-show="loginForm.email.$touched" class="error-message">
						<div ng-message="required">Campo obrigatório</div>
						<p ng-message="email">E-mail invalido</p>
					  </div>
			        </div>

			        <div class="input-field">
			          <input id="password" type="password" name="password" class="validate" ng-model="user.password" required>
			          <img src="icons/ic-cadeado.svg" class="ic_cadeado prefix">
			          <label for="password">Senha</label>

			          <div id="error" ng-messages="loginForm.password.$error" ng-show="loginForm.password.$touched" class="error-message">
						<div ng-message="required">Campo obrigatório</div>
					  </div>
			        </div>

			        <div ng-if="notFound" class="error-message">E-mail e/ou senha inválido</div>

			        <button class="waves-effect waves-light btn" ng-disabled="loginForm.$invalid" type="submit">ENTRAR</button>
			    </form>
			</section>
		</main>
	</div>

<script src="node_modules/angular/angular.js"></script>
<script src="js/app.js"></script>
<script src="js/services/enterprises.js"></script>
<script src="js/services/login.js"></script>
<script src="js/controllers/login.js"></script>
<script src="js/controllers/enterprise-list.js"></script>
<script src="js/controllers/enterprise-detail.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-messages/1.6.10/angular-messages.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.20/angular-ui-router.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
</body>
</html>