@media screen and (max-width: 600px) {
  body {
    font-size: 1.1rem; }
    body #login.login-content {
      grid-template-columns: auto 80% auto;
      grid-template-rows: 15% auto auto 15%; }
    body #login .logo-home {
      max-width: 18rem; }
    body #login h2 {
      font-size: 1.4rem; }
    body #search nav {
      height: 100px; }
      body #search nav .brand-logo {
        width: 50%;
        transform: none;
        left: 2rem; }
      body #search nav .before-search {
        right: 2rem; }
      body #search nav form .search-block {
        width: 90%;
        padding-bottom: 24px; }
    body #search section .card.horizontal {
      padding: 8px; }
      body #search section .card.horizontal .card-image {
        padding: 0;
        width: 70px;
        min-width: 70px; }
      body #search section .card.horizontal .card-stacked {
        overflow: hidden;
        white-space: nowrap; }
      body #search section .card.horizontal .card-content {
        padding: 0 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap; }
      body #search section .card.horizontal h2 {
        font-size: 1.5rem; }
      body #search section .card.horizontal h3 {
        margin-bottom: 10px;
        font-size: 1.3rem; }
      body #search section .card.horizontal p {
        font-size: 1.1rem; }
    body #search #search-detail .card {
      padding: 20px;
      width: 90%; }
    body #search #search-detail .card-content {
      padding: 0; } }
