@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300,400");
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

[ui-view], .ng-scope {
  animation: appear 1s ease-in-out 0s; }

html, body {
  width: 100%;
  height: 100%;
  min-height: 100%; }

body {
  background-color: #ebe9d7;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  color: #383743; }
  body #login .logo-home {
    max-width: 20rem;
    width: 100%; }
  body #login .header {
    grid-area: header;
    align-self: center; }
  body #login .main {
    grid-area: main;
    align-self: center; }
  body #login.login-content {
    height: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: auto 20% auto;
    grid-template-rows: 20% auto auto 20%;
    grid-template-areas: ". . ." "header header header" ". main ." ". . ."; }
  body #login h2 {
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase; }
  body #login p {
    line-height: 1.44;
    letter-spacing: -0.3px;
    margin-bottom: 2rem; }
  body #login form img {
    width: 2rem;
    height: 2rem;
    object-fit: contain;
    position: absolute;
    left: 0; }
  body #login form .ic_cadeado {
    width: 1.8rem;
    height: 1.8rem; }
  body #login form input {
    padding-left: 3rem;
    height: 2.8rem;
    width: 85%; }
    body #login form input:focus {
      -webkit-box-shadow: 0 1px 0 0 #ee4c77;
      -moz-box-shadow: 0 1px 0 0 #ee4c77;
      -ms-box-shadow: 0 1px 0 0 #ee4c77;
      -o-box-shadow: 0 1px 0 0 #ee4c77;
      box-shadow: 0 1px 0 0 #ee4c77;
      border-bottom: 1px solid #ee4c77; }
  body #login form .error-message {
    color: #F44336;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    letter-spacing: 0.07rem;
    text-align: left;
    margin-bottom: 20px;
    font-size: 0.9rem; }
  body #login form button {
    font-size: 1.2rem;
    font-weight: bold;
    height: 52.8px;
    border-radius: 3.6px;
    background-color: #57bbbc;
    width: 100%;
    box-shadow: none;
    margin-top: 2rem; }
  body #search nav {
    height: 151px;
    background-color: #ee4c77; }
    body #search nav .nav-wrapper {
      display: flex;
      align-items: center;
      opacity: 1;
      animation: appear 0.5s linear 0s; }
      body #search nav .nav-wrapper.hide {
        opacity: 0 !important; }
    body #search nav .before-search {
      right: 3rem;
      float: right;
      position: absolute;
      font-size: 3rem;
      cursor: pointer; }
    body #search nav form {
      width: 100%;
      display: flex;
      justify-content: space-around; }
      body #search nav form input {
        color: #fff;
        border-bottom: 1px solid #fff;
        font-size: 2rem;
        padding-left: 15px; }
        body #search nav form input:focus {
          -webkit-box-shadow: 0;
          -moz-box-shadow: 0;
          -ms-box-shadow: 0;
          -o-box-shadow: 0;
          box-shadow: 0; }
      body #search nav form .search-block {
        display: flex;
        align-items: flex-end;
        width: 95%;
        padding-bottom: 45px; }
        body #search nav form .search-block i {
          font-size: 3rem;
          cursor: pointer; }
  body #search section {
    width: 90%;
    margin: 3% auto; }
    body #search section .card.horizontal {
      max-height: 190px;
      cursor: pointer;
      margin-bottom: 2rem; }
      body #search section .card.horizontal:hover {
        -webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14);
        -moz-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14);
        -ms-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14);
        -o-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14);
        box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14); }
      body #search section .card.horizontal .card-content {
        display: flex;
        flex-direction: column;
        justify-content: center; }
      body #search section .card.horizontal h2 {
        font-size: 30px;
        font-weight: bold;
        color: #1a0e49;
        margin: 0;
        margin-bottom: 10px; }
      body #search section .card.horizontal h3 {
        color: #8d8c8c;
        font-size: 24px;
        font-weight: normal;
        margin: 0;
        margin-bottom: 10px; }
      body #search section .card.horizontal p {
        font-size: 18px;
        margin: 0;
        margin-bottom: 10px; }
      body #search section .card.horizontal .card-image {
        padding: 24px;
        width: 300px;
        align-self: center; }
        body #search section .card.horizontal .card-image img {
          max-height: 142px;
          margin: 0 auto; }
  body #search #search-detail .card {
    width: 60%;
    margin: 3% auto;
    padding: 40px; }
    body #search #search-detail .card .card-image img {
      max-height: 300px;
      margin-bottom: 30px; }

@keyframes appear {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
