<section>
	<div class="card horizontal" ng-repeat="i in enterprises | filter:search" ng-click="openDetails(i.id)">
	  <div class="card-image">
	    <img ng-if="i.photo" ng-src="http://54.94.179.135:8090{{i.photo}}">
	    <img ng-if="!i.photo" src="../img/img-e-1-lista.svg">
	  </div>
	  <div class="card-stacked">
	    <div class="card-content">
	      	<h2 ng-bind="i.enterprise_name"></h2>
	      	<h3 ng-bind="i.enterprise_type.enterprise_type_name"></h3>
	        <p ng-bind="i.country"></p>
	    </div>
	  </div>
	</div>
</section>