<article id="search-detail">
  <div class="card" ng-cloak>
    <div class="card-image">
      <img ng-if="enterprise.photo" ng-src="http://54.94.179.135:8090{{enterprise.photo}}">
      <img ng-if="!enterprise.photo" src="../img/img-e-1-lista.svg">
    </div>
    <div class="card-content">
      <p ng-bind="enterprise.description"></p>
    </div>
  </div>
</article>
