<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<title>Empresas</title>
</head>
<body ng-cloak>
	<div id="search" class="search-content">
		<header class="header">
		  <nav>
		    <div class="nav-wrapper" ng-class="{'hide': showSearch}">
		      <img src="../img/logo-nav.png" srcset="../img/logo-nav@2x.png 2x, ../img/logo-nav@3x.png 3x" class="logo-nav brand-logo center">
		      <i class="before-search material-icons" ng-click="showSearch = true">search</i>
		    </div>
		    <div class="nav-wrapper" ng-class="{'hide': !showSearch}" >
		      <form>
		        <div class="search-block">
		          <i class="material-icons">search</i>
		          <input id="search" type="text" ng-model="search.$">
		          <i ng-click="showSearch = false; search=''" class="material-icons">close</i>
		        </div>
		      </form>
		    </div>
		  </nav>
		</header>

		<main class="main" ui-view>
		</main>
	</div>

</body>
</html>