$primary-color: #ee4c77;
$secondary-color: #57bbbc;
$text-color: #383743;
$background-color: #ebe9d7;
$error-color: #F44336;
$card-title-color: #1a0e49;
$card-text-color: #8d8c8c;

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Roboto Mono', monospace;