@media screen and (max-width: 600px) {

	body {
		font-size: 1.1rem;

		#login {
			&.login-content {
				grid-template-columns: auto 80% auto;
				grid-template-rows: 15% auto auto 15%;
			}

			.logo-home {
				max-width: 18rem;
			}

			h2 {
				font-size: 1.4rem;
			}
		}

		#search {
			nav {
				height: 100px;

				.brand-logo {
					width: 50%;
				    transform: none;
				    left: 2rem;
				}

				.before-search {
					right: 2rem;
				}

				form {
					.search-block {
						width: 90%;
   						padding-bottom: 24px;
					}
				}
			}

			section {
				.card {
					&.horizontal {
						padding: 8px;

						.card-image {
							padding: 0;
    						width: 70px;
    						min-width: 70px;
						}

						.card-stacked {
						    overflow: hidden;
						    white-space: nowrap;
						}

						.card-content {
							padding: 0 10px;
							text-overflow: ellipsis;
						    overflow: hidden;
						    white-space: nowrap;
						}

						h2 {
							font-size: 1.5rem;
						}

						h3 {
							margin-bottom: 10px;
    						font-size: 1.3rem;
						}

						p {
							font-size: 1.1rem;
						}
					}
				}
			}

			#search-detail {
				.card {
					padding: 20px;
					width: 90%;
				}

				.card-content {
					padding: 0;
				}
			}
		}
	}
}

