@import "variables", "mixins", url('https://fonts.googleapis.com/css?family=Roboto:400,700'), url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400');

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

[ui-view], .ng-scope {
	animation: appear 1s ease-in-out 0s;
}

html, body {
	width: 100%;
	height: 100%;
	min-height: 100%;
}

body {
	background-color: $background-color;
	font-family: $primary-font;
	font-weight: 300;
    font-size: 1.2rem;
	color: $text-color;

	#login {
		.logo-home {
		    max-width: 20rem;
    		width: 100%;
		}

		.header {
		  grid-area: header;
		  align-self: center;
		}
		.main {
		  grid-area: main;
		  align-self: center;
		}

		&.login-content {
			height: 100%;
			text-align: center;
			display: grid;
			grid-template-columns: auto 20% auto;
			grid-template-rows: 20% auto auto 20%;
			grid-template-areas:
				". . ."
				"header header header"
				". main ."
				". . .";
		}

		h2 {
			font-size: 1.6rem;
  			font-weight: bold;
  			text-transform: uppercase;
		}

		p {
			line-height: 1.44;
    		letter-spacing: -0.3px;
    		margin-bottom: 2rem;
		}

		form {
			img {
			  width: 2rem;
			  height: 2rem;
			  object-fit: contain;
			  position: absolute;
			  left: 0;
			}

			.ic_cadeado {
			  width: 1.8rem;
			  height: 1.8rem;
			}

			input {
				padding-left: 3rem;
				height: 2.8rem;
				width: 85%;

				&:focus {
					@include box-shadow(0 1px 0 0 $primary-color);
					border-bottom: 1px solid $primary-color;
				}
			}

			.error-message {
				color: $error-color;
				font-family: $secondary-font;
				font-weight: 400;
				letter-spacing: 0.07rem;
			    text-align: left;
			    margin-bottom: 20px;
			    font-size: 0.9rem;
			}

			button {
				font-size: 1.2rem;
			    font-weight: bold;
			    height: 52.8px;
			    border-radius: 3.6px;
			    background-color: #57bbbc;
			    width: 100%;
			    box-shadow: none;
    			margin-top: 2rem;
			}
		}
	}

	#search {
		nav {
			height: 151px;
  			//background: linear-gradient(173deg, #ee4c77, #0d0430);
  			background-color: #ee4c77;

  			.nav-wrapper {
  				display: flex;
   				align-items: center;
   				opacity: 1;
   				animation: appear 0.5s linear 0s;

				&.hide {
				  opacity: 0 !important;
				}
  			}

			.before-search {
				right: 3rem;
			    float: right;
			    position: absolute;
			    font-size: 3rem;
			    cursor: pointer;
			}

			form {
			width: 100%;
			display: flex;
    		justify-content: space-around;

	    		input {
			    	color: #fff;
					border-bottom: 1px solid #fff;
					font-size: 2rem;
					padding-left: 15px;

					&:focus {
						@include box-shadow(0);
					}
				}

	    		.search-block {
	    			display: flex;
				    align-items: flex-end;
				    width: 95%;
				    padding-bottom: 45px;

				    i {
				    	font-size: 3rem;
				    	cursor: pointer;
				    }
	    		}
			}
		}

		section {
			width: 90%;
    		margin: 3% auto;

    		.card {
    			&.horizontal {
    				max-height: 190px;
    				cursor: pointer;
    				margin-bottom: 2rem;

    				&:hover {
    					@include box-shadow(0 8px 17px 2px rgba(0,0,0,0.14));
    				}

    				.card-content {
    					display: flex;
    					flex-direction: column;
    					justify-content: center;
    				}

    				h2 {
						  font-size: 30px;
						  font-weight: bold;
						  color: $card-title-color;
						  margin: 0;
						  margin-bottom: 10px;
    				}

    				h3 {
    					color: $card-text-color;
    					font-size: 24px;
						font-weight: normal;
						margin: 0;
						margin-bottom: 10px;
    				}

    				p {
    					font-size: 18px;
						margin: 0;
						margin-bottom: 10px;
    				}

    				.card-image {
    					padding: 24px;
    					width: 300px;
    					align-self: center;

    					img {
    						max-height: 142px;
    						margin: 0 auto;
    					}
    				}
    			}
    		}
		}

		#search-detail {
			.card {
				width: 60%;
    			margin: 3% auto;
    			padding: 40px;

    			.card-image {
    				img {
    					max-height: 300px;
   						margin-bottom: 30px;
    				}
    			}
			}
		}
	}
}

@keyframes appear {
    0% {opacity: 0;}
    100% {opacity: 1;}
}